@font-face {
  font-family: 'Graphik';
  src: url("Graphik-Light.fa6fd86e.woff");
  src: url("Graphik-Light.fe52941e.eot");
  src: url("Graphik-Light.fe18a27d.ttf");
  font-weight: 200;
}
@font-face {
  font-family: 'Graphik';
  src: url("Graphik-Regular.27a9d909.woff");
  src: url("Graphik-Regular.6a19789c.eot");
  src: url("Graphik-Regular.0f1b7abe.ttf");
  font-weight: 400;
}
@font-face {
  font-family: 'Graphik';
  src: url("Graphik-Semibold.57e2857c.woff");
  src: url("Graphik-Semibold.2e99c78c.eot");
  src: url("Graphik-Semibold.0e6cc9f6.ttf");
  font-weight: 600;
}
h1.light,
h2.light,
h3.light,
h4.light,
h5.light,
h6.light,
p.light,
a.light,
span.light {
  font-weight: 100;
}
h1.bold,
h2.bold,
h3.bold,
h4.bold,
h5.bold,
h6.bold,
p.bold,
a.bold,
span.bold {
  font-weight: 600;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  display: flex;
  justify-content: center;
}
body,
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body p,
body a,
body span {
  font-family: 'Graphik';
  color: #323232;
  margin: 0;
}
body h1 {
  font-size: 56px;
  letter-spacing: -0.5px;
  font-weight: 600;
}
body header,
body main {
  overflow-y: scroll;
  scroll-behavior: smooth;
}
body ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
body a {
  text-decoration: none;
  color: #323232;
  cursor: pointer;
}
body a:hover {
  color: #323232;
  text-decoration: underline;
}
body a:active {
  color: #323232;
  text-decoration: none;
}
@media screen and (min-width: 0px) {
  .container {
    padding: 0 16px;
    margin: 0 auto;
    width: 100%;
  }
}
@media screen and (min-width: 435px) {
  .container {
    padding: 0 16px;
    margin: 0 auto;
    width: 435px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    padding: 0 56px;
    margin: 0 auto;
    width: 768px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    padding: 0 72px;
    margin: 0 auto;
    width: 1024px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    padding: 0 96px;
    margin: 0 auto;
    width: 1440px;
  }
}
.container .row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.container .row > [class*="col-"] {
  flex: 1;
}
.container .row > [class*="col-"]:first-child {
  margin-left: 0;
}
.container .row > [class*="col-"]:last-child {
  margin-right: 0;
}
@media screen and (min-width: 0px) {
  .container .row .col-offset-xs-1 {
    margin-left: -10px !important;
  }
  .container .row .col-xs-1 {
    flex-basis: 100%;
    margin: 0 2px;
  }
  .container .row .col-offset-xs-2 {
    margin-left: -18px !important;
  }
  .container .row .col-xs-2 {
    flex-basis: 100%;
    margin: 0 2px;
  }
  .container .row .col-offset-xs-3 {
    margin-left: -26px !important;
  }
  .container .row .col-xs-3 {
    flex-basis: 100%;
    margin: 0 2px;
  }
  .container .row .col-offset-xs-4 {
    margin-left: -34px !important;
  }
  .container .row .col-xs-4 {
    flex-basis: 100%;
    margin: 0 2px;
  }
}
@media screen and (min-width: 435px) {
  .container .row .col-offset-sm-1 {
    margin-left: 98.75px !important;
  }
  .container .row .col-sm-1 {
    flex-basis: 96.75px;
    margin: 0 2px;
  }
  .container .row .col-offset-sm-2 {
    margin-left: 199.5px !important;
  }
  .container .row .col-sm-2 {
    flex-basis: 197.5px;
    margin: 0 2px;
  }
  .container .row .col-offset-sm-3 {
    margin-left: 300.25px !important;
  }
  .container .row .col-sm-3 {
    flex-basis: 298.25px;
    margin: 0 2px;
  }
  .container .row .col-offset-sm-4 {
    margin-left: 401px !important;
  }
  .container .row .col-sm-4 {
    flex-basis: 399px;
    margin: 0 2px;
  }
}
@media screen and (min-width: 768px) {
  .container .row .col-offset-md-1 {
    margin-left: 74px !important;
  }
  .container .row .col-md-1 {
    flex-basis: 66px;
    margin: 0 8px;
  }
  .container .row .col-offset-md-2 {
    margin-left: 156px !important;
  }
  .container .row .col-md-2 {
    flex-basis: 148px;
    margin: 0 8px;
  }
  .container .row .col-offset-md-3 {
    margin-left: 238px !important;
  }
  .container .row .col-md-3 {
    flex-basis: 230px;
    margin: 0 8px;
  }
  .container .row .col-offset-md-4 {
    margin-left: 320px !important;
  }
  .container .row .col-md-4 {
    flex-basis: 312px;
    margin: 0 8px;
  }
  .container .row .col-offset-md-5 {
    margin-left: 402px !important;
  }
  .container .row .col-md-5 {
    flex-basis: 394px;
    margin: 0 8px;
  }
  .container .row .col-offset-md-6 {
    margin-left: 484px !important;
  }
  .container .row .col-md-6 {
    flex-basis: 476px;
    margin: 0 8px;
  }
  .container .row .col-offset-md-7 {
    margin-left: 566px !important;
  }
  .container .row .col-md-7 {
    flex-basis: 558px;
    margin: 0 8px;
  }
  .container .row .col-offset-md-8 {
    margin-left: 648px !important;
  }
  .container .row .col-md-8 {
    flex-basis: 640px;
    margin: 0 8px;
  }
}
@media screen and (min-width: 1024px) {
  .container .row .col-offset-lg-1 {
    margin-left: 61.33333333333333px !important;
  }
  .container .row .col-lg-1 {
    flex-basis: 49.33333333333333px;
    margin: 0 12px;
  }
  .container .row .col-offset-lg-2 {
    margin-left: 134.66666666666666px !important;
  }
  .container .row .col-lg-2 {
    flex-basis: 122.66666666666666px;
    margin: 0 12px;
  }
  .container .row .col-offset-lg-3 {
    margin-left: 208px !important;
  }
  .container .row .col-lg-3 {
    flex-basis: 196px;
    margin: 0 12px;
  }
  .container .row .col-offset-lg-4 {
    margin-left: 281.3333333333333px !important;
  }
  .container .row .col-lg-4 {
    flex-basis: 269.3333333333333px;
    margin: 0 12px;
  }
  .container .row .col-offset-lg-5 {
    margin-left: 354.6666666666667px !important;
  }
  .container .row .col-lg-5 {
    flex-basis: 342.6666666666667px;
    margin: 0 12px;
  }
  .container .row .col-offset-lg-6 {
    margin-left: 428px !important;
  }
  .container .row .col-lg-6 {
    flex-basis: 416px;
    margin: 0 12px;
  }
  .container .row .col-offset-lg-7 {
    margin-left: 501.33333333333337px !important;
  }
  .container .row .col-lg-7 {
    flex-basis: 489.33333333333337px;
    margin: 0 12px;
  }
  .container .row .col-offset-lg-8 {
    margin-left: 574.6666666666666px !important;
  }
  .container .row .col-lg-8 {
    flex-basis: 562.6666666666666px;
    margin: 0 12px;
  }
  .container .row .col-offset-lg-9 {
    margin-left: 648px !important;
  }
  .container .row .col-lg-9 {
    flex-basis: 636px;
    margin: 0 12px;
  }
  .container .row .col-offset-lg-10 {
    margin-left: 721.3333333333334px !important;
  }
  .container .row .col-lg-10 {
    flex-basis: 709.3333333333334px;
    margin: 0 12px;
  }
  .container .row .col-offset-lg-11 {
    margin-left: 794.6666666666666px !important;
  }
  .container .row .col-lg-11 {
    flex-basis: 782.6666666666666px;
    margin: 0 12px;
  }
  .container .row .col-offset-lg-12 {
    margin-left: 868px !important;
  }
  .container .row .col-lg-12 {
    flex-basis: 856px;
    margin: 0 12px;
  }
}
@media screen and (min-width: 1440px) {
  .container .row .col-offset-hd-1 {
    margin-left: 92px !important;
  }
  .container .row .col-hd-1 {
    flex-basis: 80px;
    margin: 0 12px;
  }
  .container .row .col-offset-hd-2 {
    margin-left: 196px !important;
  }
  .container .row .col-hd-2 {
    flex-basis: 184px;
    margin: 0 12px;
  }
  .container .row .col-offset-hd-3 {
    margin-left: 300px !important;
  }
  .container .row .col-hd-3 {
    flex-basis: 288px;
    margin: 0 12px;
  }
  .container .row .col-offset-hd-4 {
    margin-left: 404px !important;
  }
  .container .row .col-hd-4 {
    flex-basis: 392px;
    margin: 0 12px;
  }
  .container .row .col-offset-hd-5 {
    margin-left: 508px !important;
  }
  .container .row .col-hd-5 {
    flex-basis: 496px;
    margin: 0 12px;
  }
  .container .row .col-offset-hd-6 {
    margin-left: 612px !important;
  }
  .container .row .col-hd-6 {
    flex-basis: 600px;
    margin: 0 12px;
  }
  .container .row .col-offset-hd-7 {
    margin-left: 716px !important;
  }
  .container .row .col-hd-7 {
    flex-basis: 704px;
    margin: 0 12px;
  }
  .container .row .col-offset-hd-8 {
    margin-left: 820px !important;
  }
  .container .row .col-hd-8 {
    flex-basis: 808px;
    margin: 0 12px;
  }
  .container .row .col-offset-hd-9 {
    margin-left: 924px !important;
  }
  .container .row .col-hd-9 {
    flex-basis: 912px;
    margin: 0 12px;
  }
  .container .row .col-offset-hd-10 {
    margin-left: 1028px !important;
  }
  .container .row .col-hd-10 {
    flex-basis: 1016px;
    margin: 0 12px;
  }
  .container .row .col-offset-hd-11 {
    margin-left: 1132px !important;
  }
  .container .row .col-hd-11 {
    flex-basis: 1120px;
    margin: 0 12px;
  }
  .container .row .col-offset-hd-12 {
    margin-left: 1236px !important;
  }
  .container .row .col-hd-12 {
    flex-basis: 1224px;
    margin: 0 12px;
  }
}
header {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: fixed;
  padding-top: 24px;
}
header #logo svg {
  width: 111px;
  height: 39px;
}
header nav,
header #social {
  display: none;
}
header nav {
  margin-bottom: 64px;
}
header nav li {
  margin-bottom: 24px;
}
header nav li:last-child {
  margin-bottom: 0;
}
header nav li a {
  font-weight: 100;
  font-size: 24px;
  line-height: 26px;
}
header #social {
  flex-direction: column;
  justify-content: space-between;
  margin-top: auto;
  margin-bottom: 56px;
}
header #social h4,
header #social ul {
  margin-bottom: 24px;
}
header #social h4 {
  font-size: 14px;
}
header #social ul li {
  font-weight: 100;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  header {
    height: 100%;
    padding-top: 72px;
    position: static;
  }
  header #logo {
    margin-bottom: 72px;
  }
  header nav {
    display: block;
  }
  header #social {
    display: flex;
  }
}
main section#cover {
  height: 100%;
  align-items: center;
}
main section#cover h1 {
  font-size: 48px;
  animation: title-translate 0.4s 3s ease-in forwards;
}
@-moz-keyframes title-translate {
  100% {
    transform: translate(0, -20px);
  }
}
@-webkit-keyframes title-translate {
  100% {
    transform: translate(0, -20px);
  }
}
@-o-keyframes title-translate {
  100% {
    transform: translate(0, -20px);
  }
}
@keyframes title-translate {
  100% {
    transform: translate(0, -20px);
  }
}


/*# sourceMappingURL=/styles.9348243a.css.map */