
#about
  padding-bottom: $spacing.xhg
  img
    margin-bottom: $spacing.xhg

  #bio
    margin-bottom: $spacing.md
    text-align: justify;

    +desktop()
      margin-bottom:  0

  #awards
    display: flex
    flex-direction: column
    justify-content: center

    margin-bottom: $spacing.lg

    ul
      &, li
        margin-bottom: $spacing.md

        &:last-child
          margin-bottom: 0


  #awards, #bio
    min-height: 100%

    +not-desktop()
      margin-left: 0
      margin-right: 0
