grid-config = {
  xs: {
    min: 0,
    c: 4,
    m: 16,
    g: 8
  }
  md: {
    min: 768,
    c: 8,
    m: 56,
    g: 16
  }
  lg: {
    min: 1024,
    c: 12,
    m: 72,
    g: 24
  }
  hd: {
    min: 1440,
    c: 12,
    m: 96,
    g: 24
  }
}

// global
html,
body
  margin: 0
  padding: 0
  height: 100%

body
  @extend $font-default
  display: flex
  justify-content: center
  &, *
    -ms-overflow-style: none;  // IE 10+
    scrollbar-width: none;  // Firefox

  ::-webkit-scrollbar
    display: none;  // Safari and Chrome

  ::-webkit-scrollbar-thumb
    background: #FF0000

main, header
  overflow-y: scroll
  scroll-behavior: smooth
  box-sizing: border-box

p, a, span
  margin: 0

h1, h2, h3, h4, h5, h6
  @extend $font-title
  @extend $font-default
  margin-bottom: $spacing.md
  margin-top: 0

ul
  list-style: none
  padding: 0
  margin: 0

button
  background-color: transparent
  border: none
  padding: $spacing.xs $spacing.sm

a
  text-decoration: none
  color: $grey-01
  cursor: pointer

  &:hover
    color: $grey-01
    text-decoration: underline

  &:active
    color: $grey-01
    text-decoration: none

img
  max-width: 100%

hr
  border: 1px solid rgba(151, 151, 151, 0.2);
grid(grid-config)
