grid-config = {
  lg: {
    min: 1024,
    c: 12,
    m: 72,
    g: 24
  }
  hd: {
    min: 1440,
    c: 12,
    m: 96,
    g: 24
  }
}

// global
html,
body
  margin: 0
  padding: 0
  height: 100%

body
  &, h1, h2, h3, h4, h5, h6
  p, a, span
    font-family: 'Graphik'
    color: $font-01
    margin: 0

  h1
    font-size: 56px
    letter-spacing: -0.5px
    font-weight: 600

  display: flex
  justify-content: center

  header,
  main
    height: 100%
    overflow-y: scroll
    scroll-behavior: smooth


  ul
    list-style: none
    padding: 0
    margin: 0

  a
    text-decoration: none
    color: $grey-01
    cursor: pointer

    &:hover
      color: $grey-01
      text-decoration: underline

    &:active
      color: $grey-01
      text-decoration: none


grid(grid-config)
