header
  display: flex
  flex-direction: column
  padding-top: $spacing.xxhg
  height: 100%
  box-sizing: border-box

  #logo
    display: block

    +lg()
      margin-bottom: $spacing.xxhg

      svg
        width: 111px
        height: 39px

  nav
    margin-bottom: $spacing.xhg
    li
      margin-bottom: $spacing.md

      &:last-child
        margin-bottom: 0

      a
        font-weight: 100
        font-size: 24px
        line-height: 26px

  #social
    display: flex
    flex-direction: column
    justify-content: space-between
    margin-top: auto
    margin-bottom: $spacing.hg

    h4, ul
      margin-bottom: $spacing.md

    h4
      font-size: 14px

    ul
      li
        font-weight: 100
        margin-bottom: $spacing.sm
