active =
  min-height: 100%

  #logo
    margin-bottom: $spacing.xxhg

  nav, #social
    visibility: visible
    opacity: 1

  nav
    display: block

  #social
    display: flex

header
  background-color: $white-01
  display: flex
  flex-direction: column
  box-sizing: border-box

  padding-top: $spacing.md
  z-index: 9999
  width: 100%

  #logo
    svg
      width: 111px
      height: 39px

  nav, #social
    display: none
    visibility: hidden;
    opacity: 0

  nav
    margin-top: $spacing.hg
    margin-bottom: $spacing.xhg

    li
      margin-bottom: $spacing.md

      &:last-child
        margin-bottom: 0

      a
        font-weight: 100
        font-size: 24px
        line-height: 26px

  #social
    flex-direction: column
    justify-content: space-between
    margin-top: auto
    margin-bottom: $spacing.hg

    h4, ul
      margin-bottom: $spacing.md

    h4
      font-size: 14px

    ul
      li
        font-weight: 100
        margin-bottom: $spacing.sm

  #menu_btn
    z-index: 99999
    position: absolute
    top: 32px
    right: 16px

  +mobile()
    max-height: 68px
    position: fixed
    max-width: calc(100% - 24px);

    &.open
      padding-top: $spacing.md
      {active}

  +tablet()
    padding-top: $spacing.xxhg
    {active}

    #menu_btn
      display: none
