.loader
  width: 100%
  height: 4px

  &:after
    content: ''
    display: block
    width: 10%
    height: 100%
    background-color: $grey-01
    animation: pong
    animation-duration: 3s
    animation-iteration-count: infinite
    animation-timing-function: bez
    position: relative
