mobile-header-padding = 67px

main
  height: 100%

  section
    padding-top: mobile-header-padding
    min-height: 100%

    +tablet()
      padding-top: 0

  &.locked
    overflow-y: hidden;

  @import "./cover"
  @import "./about"
  @import "./work"
