#work
  padding-top: $spacing.lg
  padding-bottom: $spacing.md

  +desktop()
    padding-top: $spacing.xxhg
    padding-bottom: $spacing.xlg

  h2
    @extend $font-project-title


  article
    .desc
      h4, h5
        margin: $spacing.sm 0

      h5
        @extend $font-project-topic-title

    +desktop()
      &:nth-child(odd)
        .row
          > *:first-child
            margin-left: 0
          > *:last-child
            margin-right: 0


      &:nth-child(even)
        .row
          > *:first-child
            margin-right: 0
          > *:last-child
            margin-left: 0

  .row
    margin-bottom: $spacing.xhg

    +not-desktop()
      > *
        margin-left: 0
        margin-right: 0

  hr
    border: 0;
    border-top: 1px solid #eee
    margin: $spacing.xxhg 0

  @import gallery
  @import calor-da-rua
