#work
  h2
    @extend $font-project-title

  article
    padding: $spacing.xxhg 0

    .row
      margin-bottom: $spacing.xhg


  .gallery
    display: flex
    flex-direction: row
    overflow-x: auto
    max-width: 100%;

    img
      w = s('calc(100% - %s)', $spacing.xxhg)
      width: 100%
      max-width: w
      flex: 1 0 w
      margin-right: $spacing.lg

      +hd()
        w = s('calc(50% - %s)', $spacing.xxhg)
        max-width: w
