#work
  h2
    @extend $font-project-title

  article
    +desktop()
      &:nth-child(odd)
        .row
          > *:first-child
            margin-left: 0
          > *:last-child
            margin-right: 0

        .title
          order: 1

        .desc
          order: 2

      &:nth-child(even)
        .row
          > *:first-child
            margin-right: 0
          > *:last-child
            margin-left: 0

        .title
          order: 2

        .desc
          order: 1

  .row
    margin-bottom: $spacing.xhg

    +not-desktop()
      > *
        margin-left: 0
        margin-right: 0


  .gallery
    display: flex
    position: relative
    flex-direction: row
    overflow-x: auto
    max-width: 100%;

    img
      w = s('calc(100% - %s)', $spacing.xxhg)
      width: 100%
      max-width: w
      flex: 1 0 w
      margin-right: $spacing.lg

      +hd()
        w = s('calc(50% - %s)', $spacing.xxhg)
        max-width: w

    button
      position: absolute;
      top: 0
      height: 100%
      background-color: rgba(0, 0, 0, .3)
      color: white
      font-size: 24px

      &.previous
        left: 0

      &.next
        right: 0


  hr
    margin: $spacing.xxhg 0
