// foundations
@import "./foundations/colors"
@import "./foundations/fonts"
@import "./foundations/spacing"


// partials
@import "./partials/global"
@import "./partials/header"
@import "./partials/main"
