@keyframes gallery_button_next_move
  0%
    transform: translateX(16px)

  100%
    transform: translateX(0)

@keyframes gallery_button_prev_move
  0%
    transform: translateX(-16px)

  100%
    transform: translateX(0)

@keyframes gallery_button_visibility
  0%
    visibility: hidden
    opacity: 0

  100%
    visibility: visible;
    opacity: 1
