@keyframes transform-open-button-last-line
  0%
    transform: translateY(-4px) rotate(-45deg)
  50%
    transform: translateY(-4px) rotate(0)
  100%
    transform: translateY(0)

@keyframes transform-close-button-last-line
  50%
    transform: translateY(-4px)

  100%
    transform: translateY(-4px) rotate(-45deg);

@keyframes transform-open-button-first-line
  0%
    transform: translateY(4px) rotate(45deg)
  50%
    transform: translateY(4px) rotate(0)
  100%
    transform: translateY(0)

@keyframes transform-close-button-first-line
  50%
    transform: translateY(4px)

  100%
    transform: translateY(4px) rotate(45deg)

@keyframes transform-open-button-middle-line
  from
    opacity: 0;
  99%
    opacity: 0;
  to
    opacity: 1;

@keyframes transform-close-button-middle-line
  to
    opacity: 0;
