@keyframes nav_container_entrance
  0%
    visibility: hidden
    opacity: 0
    transform: translateY(-100px)

  100%
    visibility: visible
    opacity: 1
    transform: translateY(0)

@keyframes nav_container_exit
  0%
    visibility: visible
    opacity: 1
    transform: translateY(0)

  75%
    opacity: 0

  100%
    visibility: hidden
    opacity: 0
    transform: translateY(-100px)
