row()
  .row
    display: flex
    width: 100%
    flex-wrap: wrap

    > [class*="col-"]
      flex: 1

    {block}

container(config)
  +above(config.min)
    w = unit(config.min, px)
    if w <= 0
      w = 100%
    padding: 0 unit(config.m, px)
    margin: 0 auto
    width: w

col(n, breakpoint, config)
  .col-{breakpoint}-{n}
    gutter = config.g / 2
    container = (config.min && unit(config.min, px)) || 100%
    margin = unit(2 * config.m, px)

    col-str = "calc( ( ( %s * %s - ( 2 * %s ) ) / %s ) - %s )"
    col = s(col-str, n, container, margin, config.c, unit(config.g, px))

    flex-basis: col
    margin: 0 unit(gutter, px)


col-offset(n, breakpoint, config)
  .col-offset-{breakpoint}-{n}
    gutter = config.g / 2
    max = n * (config.min - 2 * config.m) / config.c
    offset = max - config.g

    margin-left: unit(gutter + offset, px) !important

grid(configs)
  .container
    position: relative
    for breakpoint, config in configs
      container(config)

    +row()
      for breakpoint, config in configs
        +above(config.min)
          if config.min > 0
            max-width: unit(config.min, px)
          for n in 1..(config.c)
            col(n, breakpoint, config)
            col-offset(n, breakpoint, config)
