row()
  .row
    display: flex
    width: 100%
    flex-wrap: wrap

    > [class*="col-"]
      flex: 1

    .row
      > [class*="col-"]
        &:first-child
          margin-left: 0
        &:last-child
          margin-right: 0

    {block}

container(config)
  +above(config.min)
    w = unit(config.min, px)
    if w <= 0
      w = 100%
    padding: 0 unit(config.m, px)
    margin: 0 auto
    width: w

col(n, breakpoint, config)
  .col-{breakpoint}-{n}
    gutter = config.g / 2
    max = n * (config.min - 2 * config.m) / config.c
    min =  max - config.g
    basis = unit(min, px)

    if min <= 0
      basis = 100%

    flex-basis: basis
    margin: 0 unit(gutter, px)


col-offset(n, breakpoint, config)
  .col-offset-{breakpoint}-{n}
    gutter = config.g / 2
    max = n * (config.min - 2 * config.m) / config.c
    offset = max - config.g

    margin-left: unit(gutter + offset, px) !important



grid(configs)
  .container
    position: relative
    for breakpoint, config in configs
      container(config)

    +row()
      for breakpoint, config in configs
        +above(config.min)
          if config.min > 0
            max-width: unit(config.min, px)
          for n in 1..(config.c)
            col-offset(n, breakpoint, config)
            col(n, breakpoint, config)
