above(min)
  @media screen and (min-width: unit(min, px))
    {block}

below(max)
  @media screen and (max-width: unit(max, px))
    {block}

mobile()
  +below(767)
    {block}

tablet()
  +above(768)
    {block}

not-desktop()
  +below(1023)
    {block}
    
desktop()
  +above(1024)
    {block}
