$font-default
  font-family: 'Graphik', sans
  color: $font-01
  letter-spacing: -0.12px
  font-size: 14px

$font-bold
  font-weight: 600

$font-light
  font-weight: 100

$font-hero
  @extend $font-bold
  font-size: 48px
  letter-spacing: -0.4px

  +mobile()
    font-size: 32px

$font-hero-subtitle
  @extend $font-bold
  color: $font-02
  font-size: 32px

  +not-desktop()
    font-size: 24px


$font-title
  @extend $font-bold

$font-project-title
  @extend $font-bold
  font-size: 32px
  letter-spacing: -0.36px

$font-project-topic-title
  @extend $font-light
  letter-spacing: -0.24px

$font-nav-anchor
  font-size: 24px
  line-height: 26px
